/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-inline-size: max(45em, 400px);
  padding: get-size('m');
  margin-inline: auto;
}
