{% extends "layouts/base.njk" %} 

{% block script %}
  <script type="module" src="/js/app.js"></script>
  <script type="module" src="/js/components/confeti-effect.js"></script>
{% endblock %}

{% block content %}
  {% include "partials/item-list.njk" %}

  <section id="description" class="content">
    <h1>{{ title }}</h1>

    <span class="[ separator ] [ d-if ]" data-both aria-hidden="true">❤️</span>
    
    {{ content | safe }}
  </section>
{% endblock %}
