.content {
  padding: get-size('xxl') get-size('m') 0 get-size('m');
  font-size: get-size('0');
  max-width: 75em;
  margin-inline: auto;
  text-align: center;

  h1 {
    display: inline;
    font-size: get-size('0');
  }

  p {
    display: inline;
  }
}
