.items {
  margin-block-start: get-size('xl');
  margin-block-end: get-size('xxl');
  padding: 0;

  svg {
    color: pink;
    width: 5em;
    border: 0.15em solid get-color('primary');
    border-radius: 0.5em;
  }
}
