.site-head {
  text-align: center;
  margin-block-start: get-size('m');
  margin-block-end: get-size('xl');
  color: get-color('text');
  padding-inline: get-size('m');
  color: hsl(197, 72%, 25%);
  color: hsl(196, 78%, 16%);
  color: hsl(216, 100%, 70%);

  svg {
    max-height: 5em;
    max-width: 100%;
    height: 5em;
    transition: fill 0.2s;
  }
}
