/**
 * TOGGLE
 */
.toggle {
  font-family: var(--font-label-family);
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  justify-content: center;
}

.toggle:not([hidden]) {
  display: flex;
  align-items: center;
}

.toggle__element {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--metric-toggle-thumb-size);
}

.toggle__decor {
  display: block;
  position: relative;
  overflow: hidden;
  width: calc(
    (var(--metric-toggle-thumb-size) * 2) + (var(--metric-toggle-thumb-space) * 2)
  );
  height: calc(var(--metric-toggle-thumb-size) + (var(--metric-toggle-thumb-space) * 2));
  background: get-color('primary');
  margin-left: 0.5rem;
  border-radius: var(--metric-toggle-thumb-size);
  transition: background var(--transition-snappy-duration);
  transition-delay: var(--transition-snappy-duration);
  box-sizing: content-box;
  border: 0.1em solid get-color('primary');
}

.toggle__thumb {
  display: grid;
  place-items: center;
  width: var(--metric-toggle-thumb-size);
  height: var(--metric-toggle-thumb-size);
  border-radius: var(--metric-toggle-thumb-size);
  background: linear-gradient(
      229.84deg,
      rgba(255, 255, 255, 0) 14.29%,
      rgba(48, 48, 48, 0.15) 81.82%
    ),
    #ffffff;
  box-shadow: 0 0 var(--metric-toggle-thumb-space) var(--color-shadow-mid);
  position: absolute;
  top: var(--metric-toggle-thumb-space);
  left: var(--metric-toggle-thumb-space);
  transform: none;
  transition: transform var(--transition-silky-duration) cubic-bezier(1, 0, 0.55, 0.85);
  will-change: transform;
  z-index: 1;
}

.toggle__thumb::before {
  content: '';
  display: none;
  width: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
  height: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
  border: 2px solid var(--color-dark);
  border-radius: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
}

.toggle__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9em;
}

.toggle__icon[data-state='checked'] {
  left: var(--metric-toggle-icon-space);
  fill: var(--color-night-icon);
  opacity: 0;
  transform: translateY(-1rem);
}

.toggle__icon[data-state='un-checked'] {
  right: var(--metric-toggle-icon-space);
  transition: var(--transition-icon);
  transition-delay: var(--transition-delay-icon);
}

/**
 * INTERACTIVE STATES
 */
.toggle__decor:hover .toggle__thumb {
  margin-left: 1px;
}

:checked + .toggle__decor:hover .toggle__thumb {
  margin-left: -1px;
}

:checked + .toggle__decor {
  background: get-color('success');
}

:checked + .toggle__decor .toggle__thumb {
  transform: translateX(var(--metric-toggle-thumb-size)) rotate(270deg);
  box-shadow: 0 0 var(--metric-toggle-thumb-space) var(--color-shadow-dark);
}

:checked + .toggle__decor .toggle__icon[data-state='checked'] {
  opacity: 1;
  transform: translateY(-50%);
  transition: var(--transition-icon);
  transition-delay: var(--transition-delay-icon);
}

:checked + .toggle__decor .toggle__icon[data-state='un-checked'] {
  opacity: 0;
  transform: translateY(1rem);
  transition: none;
}

:disabled + .toggle__decor {
  filter: grayscale(1) brightness(1.5);
  cursor: not-allowed;
}

:focus + .toggle__decor:not(:hover) .toggle__thumb::before {
  display: block;
}
