---
pagination:
  data: collections.all
  size: 1
  alias: preview
permalink: "/images/social-images/{{ preview.data.title | slug }}.svg"
eleventyExcludeFromCollections: true
---
<svg xmlns="http://www.w3.org/2000/svg" width="1200" height="628">
  {%- set titleInLines = site.pwa.description | splitlines(30) -%}
  {%- set numberOfLines = titleInLines.length -%}
  <rect width="100%" height="100%" fill="skyblue"/><rect width="100%" height="100%" fill="none" opacity=".1"/>
  {% set numbers = [0, 1, 2, 3, 4, 5] %}
  {% set decimalNumbers = [2, 3, 4, 5] %}

  {% for item in activities.items %}
    <g color="skyblue" opacity="{{ 0.03 * decimalNumbers | random }}" transform="translate({{ 180 * numbers | random }}, {{ 100 * numbers | random}}), scale({{ 0.2 }})">{% include "icons/" + item.icon %}</g>
  {% endfor %}

  <g transform="translate(400,125), scale(1.7)" stroke-width="2.5" stroke="#66a3ff"><path fill="aquamarine" d="m11.4 26.8.8 33.8q0 2.3-1.6 4-1.7 1.6-4 1.6h-1q-2.2 0-3.9-1.7-1.7-1.7-1.7-4V23.2q0-4.3 3-7.4 3-3 7.5-3h.1q3.5 0 6.2 2 2.8 2 3.8 5.4l8.9 31 8.8-30.9q1-3.4 3.7-5.5 2.9-2.1 6.4-2 4.4 0 7.4 3 3.2 3 3.2 7.4v37.5q0 2.2-1.8 4-1.7 1.6-4.7 1.6h-.1q-2.4 0-4-1.6-1.7-1.7-1.7-4l.8-33.8-9.3 32.8q-.8 3-3.3 4.8-2.6 1.8-5.4 1.8h-.2q-3 0-5.3-1.9-2.5-1.8-3.3-4.7z"/><path fill="#7eb1ff" d="M78.1 59.8q0 2.6-1.8 4.5t-4.5 1.9h-.1q-2.7 0-4.5-1.9-2-1.8-2-4.5V18q0-2.7 2-4.5 1.8-2 4.5-2h.1q2.6 0 4.5 2Q78 15.2 78 18z"/><path fill="aqua" d="M122.3 60q8.3 0 14-5.3 5.3-4.8 5.3-18.4 0-8-5.3-12.8-5.7-5.3-14-5.3-1.7 0-3 1.2-1.1 1.2-1.1 3v33.4q0 1.7 1.2 3 1.2 1.2 3 1.2zm-12-47.3q9.2-.7 12.1-.7 14.4 0 23.8 7.4 9.5 7.3 9.5 20.2 0 11.7-8 18.8-8.6 7.4-23.8 7.4-2.9 0-13.5-.5-1.7 0-2.8-1.2-1-1.2-1-3V16.8q0-1.6 1-2.8 1.1-1 2.8-1.2z"/><path fill="bisque" d="M168.2.8Q169 0 170 0h8.4q1.2 0 1.4 1 .2 1.2-.8 2l-7.6 5.9q-.5.3-.8.3h-8q-.6 0-.8-.4-.1-.5.4-1zm8.2 58.5q0 2.5-1.8 4.4-1.8 2-4.5 2h-.1q-2.7 0-4.5-2-2-1.8-2-4.4V19q0-2.7 2-4.6 1.8-1.9 4.5-1.9h.1q2.7 0 4.5 1.9 1.8 1.8 1.8 4.6z"/><path fill="pink" d="M201 43h13.8l-7-19.2zm16.7-23.3 13.6 37.7q1.2 3.1-.8 5.7-1.9 2.7-5.1 2.7h-1q-2 0-3.7-1.2-1.8-1.3-2.1-3.2l-2.3-10.6h-16.1L198 61.3q-.4 2-2.2 3.3-1.8 1.2-4.2 1.2h-1q-3.2 0-5-2.7-2-2.6-1-5.7l13-37.6q1.1-3.2 3.9-5.1 2.7-2 5.5-2h1.2q2.8 0 5.5 2 2.8 1.9 4 5z"/></g>
  {% if preview.data.title != 'dumbTV' %}
  <text id="text" font-family="'Segoe UI', Candara, 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif" font-size="40" fill="#003175">
  {%- for line in titleInLines %}
    <tspan text-anchor="middle" dominant-baseline="middle" x="50%" y="{{ 354 + (loop.index0 * 50) - ((numberOfLines - 1) * 15) }}">{{line}}</tspan>
  {% endfor -%}
  </text>
  {% endif -%}
</svg>
