// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

:root {
  --color-dark: #4a4a4a;
  --color-shadow-mid: rgba(0, 0, 0, 0.25);
  --color-shadow-dark: rgba(0, 0, 0, 0.9);
  --metric-toggle-thumb-size: 1.4rem;
  --metric-toggle-thumb-space: 0.25rem;
  --metric-toggle-icon-space: 0.4rem;
  --transition-snappy-duration: 500ms;
  --transition-silky-duration: 200ms;
  --transition-icon: opacity var(--transition-snappy-duration) ease,
    transform var(--transition-silky-duration) cubic-bezier(1, 0, 0.55, 0.85);
  --transition-delay-icon: 1000ms;
}

// Global styles start
:root {
  --flow-space: #{get-size('l')};

  font-size: get-size('m');
}

body {
  text-rendering: optimizeSpeed;
  color: get-color('text');
  line-height: 1.5;
  background-color: get-color('bg');
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;

  @include apply-utility('ff', 'base');
}

a:not([class]) {
  color: get-color('text');
}

article a {
  color: #003785;
  background-color: #ffc0cb;
  border-radius: 0.5em;
}

:focus {
  outline: 2px dashed get-color('text');
  outline-offset: 0.25rem;
}

main {
  flex-grow: 1;
}

main:focus {
  outline: none;
}

h1 {
  border-bottom: 1px dotted currentColor;
}

h1,
h2 {
  font-size: get-size('m');
  letter-spacing: 0.1em;
  font-weight: bold;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('bg');

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color('text'), 0.99);
}

input,
progress {
  accent-color: get-color('primary');
}

footer {
  text-align: center;
  padding-inline: get-size('m');
  padding-block-end: get-size('m');
  margin-inline: auto;

  > a {
    opacity: 0.6;
  }
}

small {
  font-size: get-size('0');
}

canvas {
  position: fixed;
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
}

// Import composition
@import 'composition/grid';

// Import utilities
@import 'utilities/flow';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Import blocks
@import 'blocks/items';
@import 'blocks/skip-link';
@import 'blocks/site-head';
@import 'blocks/content';
@import 'blocks/separator';
@import 'blocks/toggle';
