<div class="wrapper">
  <ul class="[ items ] [ grid ]" role="list" aria-describedby="description">
    {% for item in activities.items %}
      <li class="item" role="listitem">
        <label class="toggle" for="viewed{{ loop.index }}">
          <span class="toggle__label" aria-label="{{ item.label }}">
              {% include "icons/" + item.icon %}
          </span>
          <input type="checkbox" role="switch" class="toggle__element" id="viewed{{ loop.index }}" data-element="myDay" data-id="{{ item.label + loop.index }}">
          <span class="toggle__decor" aria-hidden="true">
            <span class="toggle__thumb"></span>
          </span>
        </label>
      </li>
    {% endfor %}
  </ul>
</div>
