<a class="skip-link" href="#main-content">{% if page.url == '/'%}Ir a la lista{% else %}Ir a contenido{% endif %}</a>
<header role="banner" class="site-head">
  <a href="/" class="d-if" aria-label="{{ site.name }} - inicio" {{ helpers.getLinkActiveState('/', page.url) | safe }}>
    {% include "icons/logo.svg" %}
  </a>
</header>
